<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mapper.GameMapper">

    <insert id="insertGame" parameterType="com.bridge.entity.Game" useGeneratedKeys="false">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT currval(pg_get_serial_sequence('game', 'id'))
        </selectKey>
        INSERT INTO game (room_name, status, trump, level) VALUES
        (#{roomName}, #{status}, #{trump}, #{level})
        RETURNING id
    </insert>
</mapper>