<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bridge.mapper.PlayerMapper">

    <select id="searchPlayers" resultType="com.bridge.entity.user.Player">
        SELECT * FROM player
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="account != null">
                AND account ILIKE #{account}
            </if>
            <if test="name != null">
                AND name ILIKE #{name}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
        </where>
    </select>
</mapper>